{#
/**
 * @file
 * Application Icon - used as a fallback for logos when they are missing from applications
 *
 * Available Vars
 * NONE
 *
 * Example template call:
 {% include '@dlp/includes/application_icon.html.twig' %}

#}

<span class="fa-stack" style="height: 90px; width: 100%;">
  <i class="fas fa-desktop fa-stack-2x" style="height:90px; width: 90px; color: #133e5e;"></i>
  <i class="fas fa-cogs fa-stack-1x fa-inverse" style="height: 34px; width: 90px; margin-top: 22px; color: #133e5e;"></i>
</span>