//
// Button
//
// --------------------------------------------------

.btn {
  text-transform: capitalize;
  border-radius: 3px !important;
  border: none;
  padding: 11px 13px;

  font-size: 1.2em;
  border-radius: 2px !important;
  padding: 6px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  text-decoration: none;

  // @media screen and (max-width: 767px) {
  //   margin: 0 0 15px 0;
  //   width: 100%;
  // }
}

.btn.btn-primary {
  color: $white;
  background: $accent-color-dk;
  text-shadow: 0px 0px 3px #0e4158;

  &:hover,
  &:focus {
    background: shade($accent-color-dk, 30%);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 1pt #00aeef;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 1pt #00aeef;
  }
}

.btn.btn-reset {
  color: #3e3e3d;
  background-color: #bfbcbc;
  text-shadow: none;

  &:hover,
  &:focus {
    background-color: shade(#bfbcbc, 10%);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 1pt #00aeef;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 1pt #00aeef;
  }
}

.btn.btn-success {
  background-color: #2A652A;
  color: #fff;

	&:hover,
	&:focus {
		background-color: #235323;
	}
}

.btn.btn-visit_app, .btn.btn-visit_dataset {
  background-color: #057156;
  color: #fff;

	&:hover,
	&:focus {
		background-color: #064c3f;
	}
}

.btn.btn-secondary {
  background-color: #057156;
  color: #fff;

	&:hover,
	&:focus {
		background-color: #064c3f;
	}
}

.btn.btn-request_access, .btn.btn-request_access_dataset {
  background-color: #264f8d;
  color: #fff;

	&:hover,
	&:focus {
		background-color: #1d3f72;
	}
}

.button-group-dataset{
  display: flex;
  border: none;
  margin: 0px 3px 16px;
}

.group-buttons-inline {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 10px;
  margin-top: -15px;
}

.btn.btn-sm {
  padding: 3px 7px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
}

.btn-status{
  display: inline-flex;
  align-items: center;
  > * {
    overflow: hidden;
  }
  .btn-status-text{
    text-overflow: ellipsis;
  }
}
