/**
 * Node styling.
 */

.is-unpublished {
  background-color: #fff4f4;
}

.node-preview-container {
  margin-top: -($grid-gutter-width / 2);
}

.node-preview-form-select {
  padding: ($grid-gutter-width / 2);
}

.author-details{
  display: flex;
  margin-bottom: 20px;
}
.node-username{
  font-weight: bold;
}

.node-created-date{
  font-size: 0.8em;
  color: #797676;
}