//
// Views Exposed Forms
// 
// --------------------------------------------------

.views-exposed-form{

  .select-wrapper + .select-wrapper{
    margin-top: 10px;
  }

  .select-wrapper{
    display: block;
    clear: both;
    margin-left: 0;
    margin-right: 0;

    select {
      display: block;
      width: 100%;
      height: 36px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: $gray-medium2;
      background-color: $white;
      background-image: none;
      border: 1px solid $gray-medium4;
      border-radius: 4px;
      //TODO: Review this - can I use a mixin or add a class?
    }
  }
}
