{#
/**
 * @file
 * Default theme implementation to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 *
 * @ingroup themeable
 */
#}
{% if title %}
<div class="view-group-grouping">
{% endif %}
{% if title %}<h3 class="view-group-heading">{{ title }}</h3>{% endif %}
{{ content }}
{% if title %}
</div>
{% endif %}