//discussion table columns
.views-field-comment-count {
  width: 73px;
  text-align: center;
}

.views-field-taxonomy-forums {
  width: 125px;
  text-align: center;
}

.views-field-last-comment-timestamp {
  /* text-align: center; */
  width: 240px;
}

