<div class="search-api-autocomplete-suggestion">
  {% set type = term.bundle %}
  {% if type == 'component_category' %}
    {% set type= 'technology category' %}
  {% endif %}
  {{ name }} <span class="autocompleteType">({{type|replace({'_': ' '})|title}})</span>
</div>